<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Quinielas", pools_path %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= "Quiniela #{@pool.id}" %></a></li>
      </ul>
    </nav>

    <%= render "form", pool: @pool %>

  </div>

  <div class="container is-max-desktop mt-6">
    <%= link_to "Show this pool", @pool %> |
    <%= link_to "Back to pools", pools_path %>
  </div>
</section>
