<section class="section">
  <div class="container is-max-desktop">
    <p class="title">¿Deseas unirte al grupo?</p>

    <div class="columns is-centered">
      <div class="column card is-half-desktop mt-4 pb-0">
        <%= form_with(model: @pool) do |form| %>
          <%= form.hidden_field :id %>
          <%= form.hidden_field :party_id %>
          <%= form.hidden_field :user_id %>
          <%= form.hidden_field :party_admin, value: false %>

          <%= form.fields_for :bets do |bet_form| %>
            <%= bet_form.hidden_field :id %>
            <%= bet_form.hidden_field :guess %>
            <%= bet_form.hidden_field :match_id %>
          <% end %>

          <div class="card-content">
            <p class="title has-text-centered">
              <%= @pool.party.name %>
            </p>
            <p class="subtitle has-text-centered">
              de
              <span class="has-text-weight-medium"><%= @pool.party.admin.name %></span>
            </p>
          </div>

          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <%= form.submit "Unirme", class: "button is-link" %>
              </span>
            </p>

            <p class="card-footer-item">
              <span>
                <%= link_to "Cancelar", root_path, class: "button is-inverted is-link" %>
              </span>
            </p>
          </footer>
        <% end %>
      </div>
    </div>
  </div>
</section>
