<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Mis Grupos", parties_path %></li>
        <li class="is-active"><%= link_to @party.name, @party, 'aria-current' => "page" %></li>
      </ul>
    </nav>

    <h1 class="title"><%= "Editar Grupo \"#{@party.name}\"" %></h1>

    <%= render "form", party: @party, verb: "Editar" %>

  </div>

  <div class="container is-max-desktop mt-6">
    <%= link_to "Regresar a mis grupos", parties_path, class: "button is-link is-inverted" %>
  </div>
</section>
