<section class="has-background-light">
  <div class="container is-max-desktop py-2">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <span class="icon-text">
            <%= link_to root_path do %>
              <%= render "heroicons/home", style: :outline, size: :small %>
              <span>Mis Grupos</span>
            <% end %>
          </span>
        </li>
        <li class="is-active"><%= link_to @party.name, party_path(@party), "aria-current" => "page" %></li>
      </ul>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop">
    <%# notice %>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"><%= @party.name %></h1>
        </div>

        <% if policy(@party).update? %>
          <div class="level-item">
            <%= link_to edit_party_path(@party) , class: "button is-link is-inverted" do %>
              <%= render 'heroicons/pencil_outline' %>
            <% end %>
          </div>
        <% end %>

        <% if policy(@party).destroy? %>
          <div class="level-item">
            <%= button_to @party, method: :delete, class: "button is-inverted is-danger" do %>
              <%= render 'heroicons/trash', style: :outline, size: :default %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="level-right">
        <% if !current_user.admin_of?(@party) && policy(current_user.pool(@party)).destroy?  %>
          <div class="level-item">
            <%= button_to pool_path(current_user.pool(@party)), method: :delete, class: "button is-danger" do %>
              <span>Abandonar grupo</span>
              <%= render 'heroicons/logout_outline' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns is-centered py-6">
      <div id="<%= dom_id @party %>" class="column is-half-desktop box">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <th>Pos.</th>
            <td>Usuario</td>
            <td>Puntos</td>
          </thead>

          <tbody>
            <% @party.sorted_users.each.with_index(1) do |user, index| %>
              <tr>
                <th><%= index %></th>
                <td>
                  <%= link_to pool_path(user.pool(@party)) do %>
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-24x24">
                          <% if user.avatar.attached? %>
                            <%= image_tag url_for(user.avatar), class: "is-rounded" %>
                          <% end %>
                        </figure>
                      </div>
                      <div class="media-content">
                        <p><%= user.name %></p>
                      </div>
                    </div>
                  <% end %>
                </td>
                <td><%= user.pool(@party).points %></td>
                <% if current_user.admin_of?(@party) %>
                  <td>
                    <%= button_to pool_path(user.pool(@party)), method: :delete, class: "button is-danger is-inverted is-small" do %>
                      <%= render "heroicons/trash", style: :outline, size: :small %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <p class="title">
          Invita a tus amigos al grupo
        </p>
        <div class="columns is-centered">
          <div class="column is-half">
            <%= form_with url: send_invite_path, method: :get do |form| %>
              <div class="field has-addons is-justify-content-center">
                <div class="control">
                  <%= form.hidden_field :from_user, value: current_user.name %>
                  <%= form.hidden_field :party, value: @party.id %>
                  <%= form.hidden_field :party_name, value: @party.name %>
                  <%= form.hidden_field :sharing_code, value: @party.sharing_code %>
                  <%= form.email_field :to_email, class: "input", placeholder: "Email" %>
                </div>
                <div class="control">
                  <%= form.submit "Enviar invitación", class: "button is-link" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>
