<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title">Editar mi cuenta</h2>
    <div class="box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, class: "label" do %>
            <%= "Nombre" %>
            <span class="has-text-danger">*</span>
          <% end %>
          <div class="control">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :avatar, class: "label" do %>
            <%= "Avatar" %>
          <% end %>

          <% if current_user.avatar.attached? %>
            <figure class="image is-128x128 mb-3">
              <%= image_tag url_for(f.object.avatar), class: "is-rounded" %>
            </figure>
          <% end %>

          <%= f.file_field :avatar %>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" do %>
            <%= "Email" %>
            <span class="has-text-danger">*</span>
          <% end %>
          <div class="control">
            <%= f.email_field :email, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: "label" do %>
            <%= "Contraseña" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          <% if @minimum_password_length %>
            <p class="help">
              <%= "#{@minimum_password_length} carácteres mínimo. (Déjalo en blanco si no deseas cambiarlo)" %>
            </p>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" do %>
            <%= "Confirmar contraseña" %>
          <% end %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, class: "label" do %>
            <%= "Contraseña actual" %>
            <span class="has-text-danger">*</span>
          <% end %>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
          </div>
          <p class="help">
            Es necesaria para confirmar tus cambios.
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "button is-primary" %>
        </div>
      <% end %>
    </div>
    <div class="container is-max-desktop">
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="level-item">
            <%= button_to registration_path(resource_name), method: :delete, class: "button is-danger is-inverted" do %>
              <span>Cancelar mi cuenta</span>
              <%= render "heroicons/trash", style: :outline, size: :small %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
