<h2 class="title is-4"><%= "Grupo #{name}" %></h2>

<div id="<%= "group-#{name}"%>" class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Posición">Pos</abbr></th>
        <th>Equipo</th>
        <th><abbr title="Jugados">J</abbr></th>
        <th class="is-hidden-mobile"><abbr title="Ganados">G</abbr></th>
        <th class="is-hidden-mobile"><abbr title="Empates">E</abbr></th>
        <th class="is-hidden-mobile"><abbr title="Derrotas">D</abbr></th>
        <th class="is-hidden-mobile"><abbr title="Goles a favor">GF</abbr></th>
        <th class="is-hidden-mobile"><abbr title="Goles en contra">GC</abbr></th>
        <th><abbr title="Diferencia de goles">DG</abbr></th>
        <th><abbr title="Puntos">Pts</abbr></th>
      </tr>
    </thead>
    <tbody>
      <% teams.each do |team| %>
        <tr class="<%= "is-selected" if team.position <= 2 %>">
          <td class="has-text-weight-bold"><%= team.position %></td>
          <td><%= "#{team.flag} #{team.name}" %></td>
          <td><%= team.played %></td>
          <td class="is-hidden-mobile"><%= team.won %></td>
          <td class="is-hidden-mobile"><%= team.drawn %></td>
          <td class="is-hidden-mobile"><%= team.lost %></td>
          <td class="is-hidden-mobile"><%= team.goals_for %></td>
          <td class="is-hidden-mobile"><%= team.goals_against %></td>
          <td><%= team.goals_difference %></td>
          <td class="has-text-weight-bold"><%= team.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
