<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="has-text-centered">
    <p class="is-size-7">
      <%= link_to "Partido #{match.id}", match, class:"has-text-black" %>
    </p>
  </div>

  <div class="columns is-vcentered is-mobile is-centered">
    <div class="column has-text-right is-hidden-mobile">
      <p class="is-size-5"><%= "#{match.home_team.name}" %></p>
    </div>

    <div class="column has-text-centered is-narrow-tablet">
      <h2 class="is-size-1"><%= "#{match.home_team.flag}" %></h2>
      <p class="is-size-6 is-hidden-tablet"><%= "#{match.home_team.name}" %></p>
    </div>

    <div class="column has-text-centered is-narrow">
      <div class="field">
        <div class="control">
          <%= form.number_field :home_score, class: "input is-large", style: 'width: 5rem;'  %>
        </div>
      </div>
    </div>

    <div class="column has-text-centered is-narrow">
      <%= match.date.localtime.strftime("%H:%M") %>
    </div>

    <div class="column has-text-centered is-narrow">
      <div class="field">
        <div class="control">
          <%= form.number_field :away_score, class: "input is-large", style: 'width: 5rem;'  %>
        </div>
      </div>
    </div>

    <div class="column has-text-centered is-narrow-tablet">
      <h2 class="is-size-1"><%= "#{match.away_team.flag}" %></h2>
      <p class="is-size-6 is-hidden-tablet"><%= "#{match.away_team.name}" %></p>
    </div>

    <div class="column has-text-left is-hidden-mobile">
      <p class="is-size-5"><%= "#{match.away_team.name}" %></p>
    </div>
  </div>

  <div class="columns is-vcentered is-mobile is-centered">
    <div class="column has-text-centered">
      <div class="field">
        <p class="label">Estado del partido:</p>
        <div class="control">
          <label class="radio">
            <%= form.radio_button :status, "not started" %>
            No comenzado
          </label>

          <label class="radio">
            <%= form.radio_button :status, "live" %>
            En vivo
          </label>

          <label class="radio">
            <%= form.radio_button :status, "finished" %>
            Finalizado
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-vcentered is-mobile is-centered">
    <div class="field">
      <div class="control">
        <%= form.submit "Actualizar partido", class: "button is-primary" %>
      </div>
    </div>
  </div>
<% end %>
