<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Calendario", matches_path %></li>
        <li><%= link_to "Partido #{@match.id}", @match %></li>
        <li class="is-active"><%= link_to "Editar", edit_match_path(@match), "aria-current" => "page" %></li>
      </ul>
    </nav>

    <h1 class="title"><%= "Editar Partido #{@match.id}" %></h1>
  </div>

  <div class="container is-max-desktop mt-4">
    <div class="box">
      <%= render "form_edit", match: @match %>
    </div>
  </div>
</section>
