<section class="section">
  <div class="container is-max-desktop">

    <%# notice %>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Calendario", matches_path %></li>
        <li class="is-active"><%= link_to "Partido #{@match.id}", match_path(@match), "aria-current" => "page" %></li>
      </ul>
    </nav>

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"><%= "Partido #{@match.id}" %></h1>
        </div>

        <% if policy(@match).edit? %>
          <div class="level-item">
            <%= link_to edit_match_path(@match) , class: "button is-link is-inverted" do %>
              <%= render 'heroicons/pencil_outline' %>
            <% end %>
          </div>
        <% end %>

        <% if policy(@match).destroy? %>
          <div class="level-item">
            <%= button_to @match, method: :delete, class: "button is-inverted is-danger" do %>
              <%= render "heroicons/trash", style: :outline, size: :default %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container is-max-desktop">
      <div class="box">
        <%= render @match %>
      </div>
    </div>
  </section>
